./brainly-backend/node_modules
./brainly-backend/dist
./brainly-backend/.env
./brainly-backend/.env.local
./brainly-backend/.env.development.local
./brainly-backend/.env.test.local
./brainly-backend/.env.production.local
./brainly-backend/.DS_Store
./brainly-backend/coverage
./brainly-backend/coverage-final.json
./brainly-backend/coverage-raw.json
./brainly-backend/coverage/lcov.info
./brainly-backend/coverage/lcov-report
./brainly-backend/coverage/lcov-report/index.html
./brainly-backend/coverage/lcov-report/prettify.js
./brainly-backend/coverage/lcov-report/prettify.css
./brainly-backend/coverage/lcov-report/prettify.js.map
./brainly-backend/coverage/lcov-report/prettify.css.map

